<h1>Fiche de paie - {{ payroll.employee.user.get_full_name }} ({{ payroll.month|date:"F Y" }})</h1>
<table class="table">
    <tr>
        <th>Salaire de base</th>
        <td>{{ payroll.salary_base }}</td>
    </tr>
    <tr>
        <th>Commission</th>
        <td>{{ payroll.total_commission }}</td>
    </tr>
    <tr>
        <th>Bonus</th>
        <td>{{ payroll.total_bonus }}</td>
    </tr>
    <tr>
        <th>Déductions</th>
        <td>{{ payroll.deductions }}</td>
    </tr>
    <tr>
        <th>Salaire Total</th>
        <td><strong>{{ payroll.total_salary }}</strong></td>
    </tr>
</table>
