{% extends 'app-base.html' %}
{% load permissions_tags %}
{% load static %}

{% block title %}KnelCare-Auth{% endblock %}

{% block extra_css %}
   <style>
      /* styles.css */
      .custom-clearable-file-input {
         border: 1px solid #ddd;
         padding: 5px;
         border-radius: 4px;
         width: 100%;
      }

      .custom-clearable-file-input:hover {
         border-color: #aaa;
      }
   </style>
{% endblock %}

{% block content %}
  {% if  request.user|can_view_client and request.user|is_administrator %}
    <div class="card">
    <div style="height: 60px; padding: 10px;" class="card-header">
        {% if  request.user|can_create_client %}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminAddOrUpdateClientModal" data-action-type="create">
            <b style="font-size: 18px;">Ajouter un nouveau client</b>
          </button>
        {% endif %}


        {% if clients|length > 0 %}
          <button style="background:orange; padding: 5px;font-size:14px; margin-left: 20px;" class="btn btn-warning"  id="exportBtn1" onclick="ExportTableData('dataTable', 'clients');">Télécharger en Excel</button>
        {% endif %}

        <h4 style="float: right;">Liste des clients</h4>
      </div>


    <div class="table-responsive text-nowrap">
      <table class="table" id="dataTable">
        <!-- <thead data-exclude="true" class="table-dark">
          <tr data-exclude="true">
              <th data-exclude="true" colspan="9">
                <form action="{% url 'sale_dashboard' %}" method="POST">
                    {% csrf_token %}
                    <div style="width: 110px!important;" class="input-group input-group-merge">
                      <select style="font-weight: bold; margin-right: 2px;" name="year" id="year" class="form-select" onchange="this.form.submit()">
                          {% for y in years %}
                            <option value="{{ y }}" {% if year == y %}selected{% endif %}>{{ y }}</option>
                          {% endfor %}
                      </select>
                    </div>
                </form>
              </th>
          </tr>
        </thead> -->
        {% if clients|length > 0 %}
          <thead class="table-dark">
            <tr style="display: none;">
              <th colspan="9">Liste des clients</th>
            </tr>
            <tr>
              <th style="color: white;">Nom & Prénoms</th>
              <th style="color: white;">Addresse Email</th>
              <th style="color: white;">Téléphone</th>
              <th style="color: white;">Autre Téléphone</th>
              <th style="color: white;">address</th>
              <th style="color: white;">Pays</th>
              <th style="color: white;">Ville</th>
              <th style="color: white;">Entreprise</th>
              <th data-exclude="true" style="color: white;">Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for client in clients %} 
            <tr>
              <td>{% if client.full_name %}<strong>{{ client.full_name }}</strong>{% endif %}</td>
              <td>{% if client.email %}<strong>{{ client.email }}</strong>{% endif %}</td>
              <td>{% if client.phone_number %}{{ client.phone_number }}{% endif %}</td>
              <td>{% if client.phone_number_other %} {{ client.phone_number_other }}{% endif %}</td>
              <td>{% if client.address %}{{ client.address }}{% endif %}</td>
              <td>{% if client.country %}{{ client.country }}{% endif %}</td>
              <td>{% if client.city %}{{ client.city }}{% endif %}</td>
              <td>{% if client.company %}{{ client.company }}{% endif %}</td>
              <td data-exclude="true">
                {% if  request.user|can_update_client or request.user|can_delete_client %}
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i style="font-size: 25px;" class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    {% if  request.user|can_update_client %}
                      <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#adminAddOrUpdateClientModal" data-client="{{ client.toMap }}" data-action-type="update">
                        <i class="bx bx-edit-alt me-1"></i> Modifier
                      </button>
                    {% endif %}
                    {% if  request.user|can_delete_client %}
                      <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#adminDeleteClientModal" data-id="{{ client.id }}" data-name="{{ client.name }}">
                        <i class="bx bx-trash me-1"></i>  Supprimer
                      </button>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </td>
            </tr>

            {% endfor %}
          </tbody>
        {% else %}
          <tr data-exclude="true">
            <th data-exclude="true" colspan="14" style="color:brown; font-weight: bold;">Pas de données disponible</th>
          </tr>
        {% endif %}
      </table>
    </div>
    </div>
    <div class="overlay"></div>
  {% endif %}
{% endblock %} 





{% block modalsBlock %}

     <div class="modal fade" id="adminAddOrUpdateClientModal" data-bs-backdrop="static" tabindex="-1">
       <div class="modal-dialog">
          <form  id="adminAddOrUpdateClientFormModal" method="POST" action="" class="form modal-content" enctype="multipart/form-data">

           <div class="modal-header">
             <h5 class="modal-title" id="adminAddOrUpdateClientModalTitle"></h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>

           <div class="modal-body">
              {% csrf_token %} 
              <input type="hidden" name="client_action" value="">
              {% for field in form %} 
                  <div class="mb-2">
                     {{ field | as_crispy_field }} 
                     {% if field.errors %}
                        <!-- <div class="error">{#{ field.errors.0 }#}</div> -->
                        <div class="text-danger">{{ field.errors }}</div>
                     {% endif %}
                  </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
             <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
             
             <button type="submit" class="btn btn-primary">Ajouter le client</button>
           </div>

         </form>
       </div>
     </div>


     <div class="modal fade" id="adminDeleteClientModal" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalTitle">Suppression de client</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <label for="nameBackdrop" class="form-label">
                      Êtes-vous sûr de vouloir supprimer le client <strong id="client-name"></strong> ?
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Annuler
                    </button>

                    <form id="delete-form" action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="client_action" value="delete">
                        <button type="submit" class="btn btn-danger">Oui, supprimer</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block postloadjs %} 
{{ block.super }}
<script>
   $("#new-image").change(function () {
       let file = $("#new-image")[0].files[0];
       $("#filename").text(`Image will be set to: ${file.name}`);
   });

  document.addEventListener('DOMContentLoaded', function () {
      const deleteModal = document.getElementById('adminDeleteClientModal');
      const clientNameElement = document.getElementById('client-name');
      const deleteForm = document.getElementById('delete-form');

      deleteModal.addEventListener('show.bs.modal', function (event) {
          const button = event.relatedTarget; // Button that triggered the modal
          const clientId = button.getAttribute('data-id');
          const clientName = button.getAttribute('data-name');
          clientNameElement.textContent = clientName;

          const actionUrl = `{% url 'admin_delete_client' 0 %}`.replace('/0/', `/${clientId}/`);
          deleteForm.setAttribute('action', actionUrl);
      });
  });

  document.addEventListener('DOMContentLoaded', function () {
      const addUpdateModal = document.getElementById('adminAddOrUpdateClientModal');
      const form = document.getElementById('adminAddOrUpdateClientFormModal');
      const formTitle = document.getElementById('adminAddOrUpdateClientModalTitle');
      

      addUpdateModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; // Button that triggered the modal
        const dataActionType = button.getAttribute('data-action-type');

        if (dataActionType == 'update') {
          const dataClient = button.getAttribute('data-client');
          let client = JSON.parse(dataClient);

          const clientId = client.id;
          // id / user / loyalty_point

          form.querySelector('[name="first_name"]').value = client.first_name;
          form.querySelector('[name="last_name"]').value = client.last_name;
          form.querySelector('[name="email"]').value = client.email;
          form.querySelector('[name="phone_number"]').value = client.phone_number;
          form.querySelector('[name="phone_number_other"]').value = client.phone_number_other;
          form.querySelector('[name="address"]').value = client.address;
          form.querySelector('[name="country"]').value = client.country;
          form.querySelector('[name="city"]').value = client.city;
          form.querySelector('[name="company"]').value = client.company;

          form.querySelector('[name="client_action"]').value = 'update';
          formTitle.textContent = 'Modifier un client'
          const actionUrl = `{% url 'admin_update_client' 0 %}`.replace('/0/', `/${clientId}/`);
          form.setAttribute('action', actionUrl);
          
        } else {
          form.querySelector('[name="first_name"]').value = '';
          form.querySelector('[name="last_name"]').value = '';
          form.querySelector('[name="email"]').value = '';
          form.querySelector('[name="phone_number"]').value = '';
          form.querySelector('[name="phone_number_other"]').value = '';
          form.querySelector('[name="address"]').value = '';
          form.querySelector('[name="country"]').value = '';
          form.querySelector('[name="city"]').value = '';
          form.querySelector('[name="company"]').value = '';


          form.querySelector('[name="client_action"]').value = 'create';
          formTitle.textContent = 'Ajouter un client'
          const actionUrl = `{% url 'admin_create_client' %}`;
          form.setAttribute('action', actionUrl);
        }
      });
  });
</script>
{% endblock %}