{% load custom_filters %}
<nav class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
    <!-- <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar"> -->
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            {% block searchContent %}
                <!-- <div class="navbar-nav align-items-center">
                    <div class="nav-item d-flex align-items-center">
                        <i class="bx bx-search fs-4 lh-0"></i>
                        <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                            aria-label="Search..." />
                            
                    </div>
                </div> -->
            {% endblock %}


            {% include 'layouts/_messages.html' %}

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item">
                    <a style="padding: 2px 3px 2px 3px; font-size: 14px;" class="btn btn-default {% if totalGlobalHT %} shopping-has-amount {% else %} shopping-no-amount {% endif %}" href="{% url 'view_shopping' %}">
                    <i style="margin-right: 2.5px;" class="fas fa-shopping-basket fa-lg"></i>
                        {% if totalGlobalHT %}
                            {{ totalGlobalHT|floatformat:0|separate_millier }}
                        {% else %}
                            0.00
                        {% endif %}
                        {{ price_unit }}
                    </a>
                </li>

                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                        data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            {% if employee and employee.small_picture %}
                            <img src="{{ MEDIA_URL }}{{ employee.small_picture }}" alt class="w-px-40 h-auto rounded-circle" />
                            {% else %}
                            <img src="{{ MEDIA_URL }}{{ 'images/default-user-icon.png' }}" alt class="w-px-40 h-auto rounded-circle" />
                            {% endif %}
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            {% if employee and employee.small_picture %}
                                            <img src="{{ MEDIA_URL }}{{ employee.small_picture }}" alt class="w-px-40 h-auto rounded-circle" />
                                            {% else %}
                                            <img src="{{ MEDIA_URL }}{{ 'images/default-user-icon.png' }}" alt class="w-px-40 h-auto rounded-circle" />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block">{{ request.user.username }}</span>
                                        {% if employee and employee.isAdmin %}
                                            <small class="text-muted">Admin</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">Mon Profile</span>
                            </a>
                        </li> -->

                        {% if request.user.is_superuser %}

                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/admin/" target="_blank">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Super Admin</span>
                            </a>
                        </li>

                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        
                        <li>
                            <a class="dropdown-item" href="{% url 'update_app_site' %}">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">SITE UPDATE</span>
                            </a>
                        </li>

                        <!-- <li>
                            <div class="dropdown-divider"></div>
                        </li> -->

                        <!-- <li>
                            <a class="dropdown-item" href="{#% url 'group-list' %#}">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Admin Group List</span>
                            </a>
                        </li> -->

                        
                        {% endif %}


                        <li>
                            <div class="dropdown-divider"></div>
                        </li>

                        <!-- <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li> -->
                        <!-- <li>
                            <a class="dropdown-item" href="#">
                                <span class="d-flex align-items-center align-middle">
                                    <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                                    <span class="flex-grow-1 align-middle">Billing</span>
                                    <span
                                        class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                                </span>
                            </a>
                        </li> -->
                        <!-- <li>
                            <div class="dropdown-divider"></div>
                        </li> -->

                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>