<!DOCTYPE html>

<html
  lang="en"
  class="light-style"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/static/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>ERREUR CSRF</title>

    <meta name="description" content="" />

    <link rel="icon" type="image/x-icon" href="/static/icons/logo.png" />
    <link rel="stylesheet" href="/static/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/static/vendor/css/pages/page-misc.css" />
    <script src="/static/vendor/js/helpers.js"></script>
    <script src="/static/js/config.js"></script>
  </head>

  <body>
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h1 class="mb-2 mx-2">ERREUR CSRF</h1>
        <p class="mb-4 mx-2">La vérification CSRF a échoué. Le cookie CSRF n'est pas défini. Demande abandonnée</p>
        <a href="/" class="btn btn-primary">Retour au produits</a>
        <div class="mt-4">
          <img
            src="/static/img/illustrations/girl-doing-yoga-light.png"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div>

    <script src="/static/vendor/libs/jquery/jquery.js"></script>
    <script src="/static/vendor/libs/popper/popper.js"></script>
    <script src="/static/vendor/js/bootstrap.js"></script>
    <script src="/static/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/static/vendor/js/menu.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
