<!-- {% extends 'app-base.html' %}
{% load permissions_tags %}
{% load custom_filters %}
{% load static %}

{% block title %}KnelCare-Auth{% endblock %}


{% block content %} -->
  <!-- {#% if  request.user|can_view_group %#} -->
  <!-- <h1>Delete Group</h1>
    <p>Are you sure you want to delete the group "{{ object.name }}"?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit">Confirm</button>
    </form>

    <a href="{#% url 'group-list' %#}">Cancel</a> -->
  <!-- {#% endif %#} -->
<!-- {% endblock %} -->
